// Navigation code here

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;

    background: @sea-shell;

    h1 {
        font-size: 4rem;
    }

    nav {
        display: flex; 
        justify-content: space-between;
        width: 20%;

        font-size: 1.6rem;

        color: @ebony-clay;
    }
}